{% extends 'NMR_Food/base.html' %}
{% block titulo%} 
    Buscar Clientes por nombre 
{% endblock %}

{% block contenido %}
  
    <form action="/cliente-buscar/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    {% for cliente in lista_clientes %}
        <ul>
            <li> Nombre: {{cliente.nombre}}, Telefono: {{cliente.telefono}}, Dirección: {{familiar.direccion}}, Mail: {{cliente.mail}}</li>
        </ul>
    {% endfor %}
{% endblock %}