{% extends 'NMR_Food/base.html' %}
{% block titulo%} Lista de todos mis Clientes {% endblock %}

{% block contenido %}

    <ul>
    {% for cliente in object_list %}

        <li> Nombre: {{cliente.nombre}}, Telefono: {{cliente.telefono}}, Mail: {{cliente.mail}}, Direccion: {{cliente.direccion}} 

            <a href="{% url 'cliente-delete' cliente.id  %}">Borrar</a>
            <a href="{% url 'cliente-update' cliente.id  %}">Actulizar</a>

        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'cliente-create' %}">Crear un nuevo cliente</a>

{% endblock %}