{% extends 'nmr_food/index.html' %}
{% block titulo%} Alta de nuevo menu {% endblock %}

{% block content %}


<header class="bg-dark py-3">
<div class="container px-2 px-lg-4 my-1">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Dejanos tu opinion</h1>
        <p class="lead fw-normal text-white-50 mb-0">Gracias por ayudarnos a mejorar</p>
    </div>
</div>
</header>

<br>
  <form enctype='multipart/form-data' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Guardar">
  </form>

  <h2 style="color:green">{{msg_exito}}</h2>

  <a href="{% url 'menu-list' %}">Volver a la lista de menu</a>

{% endblock %}